<div class="row">
  <div class="col-md-12 m-2">
    <h3>Update Post</h3>
    <form [formGroup]="postForm" (ngSubmit)="updatePost()">
      <div>
        <label>Title</label>
        <input type="text" class="form-control" formControlName="title" />
        <div
          *ngIf="
            postForm.get('title')?.touched && !postForm.get('title')?.valid
          "
        >
          <div
            class="warning"
            *ngIf="postForm.get('title')?.errors?.['required']"
          >
            Title is required
          </div>
        </div>
      </div>
      <div>
        <label>Desciption</label>
        <textarea
          type="text"
          class="form-control"
          formControlName="description"
        ></textarea>
        <div>
          {{ showDescriptionErrors() }}
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Update Post</button>
      </div>
    </form>
  </div>
</div>
