<div class="row container mx-auto">
  <div class="col-8">
    <h1>Post list</h1>
    <div>
      <a href="#" class="btn btn-primary" [routerLink]="['/posts/add']"
        >Add Posts</a
      >
    </div>

    <table class="table mx-auto" *ngIf="posts$ | async as posts">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts">
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.description }}</td>
          <td>
            <a href="#" class="btn btn-primary" [routerLink]="['edit', post.id]"
              >Update</a
            >
            &nbsp;
            <button class="btn btn-danger" (click)="deletePost(post.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-4">
    <router-outlet></router-outlet>
  </div>
</div>
